.discover
  align-items center
  justify-content space-between
  @media mobile 
    padding-top 120px
.discover-text
  max-width 50%
  padding-right 5%
  @media tablet
    max-width 100%
    padding-left 5%
    text-align center
  @media mobile
    padding-left 0 
    padding-right 0
    padding 0 10px
  h1
    font-family $font
    font-size 72px
    line-height 98px
    font-weight 800
    @media tablet
      font-size 50px
      line-height 70px
  h2
    margin 32px 0
    font-size 18px
    font-weight 400
    line-height 32px
  button
    background-color $black-color
    outline none
    border none
    color white
    padding 24px 48px
    border-radius 16px
    font-family $font
    font-weight 500
    cursor pointer
.container-img
  min-width 640px
  width 640px
  height 640px
  border-radius 50%
  background #D6B1FF
  overflow hidden
  position relative
  @media tablet
    display none
  img
    position absolute
    top 0
    left 0
    height 100%
    object-fit contain
