.discover
  align-items center
  justify-content space-between
.discover-text
  max-width 50%
  h1
    font-family $font
    font-size 72px
    line-height 98px
    font-weight 800
  h2
    margin 32px 0
    font-size 18px
    font-weight 400
    line-height 32px
  button
    background-color $black-color
    outline none
    border none
    color white
    padding 24px 48px
    border-radius 16px
    font-family $font
    font-weight 500
    cursor pointer
.container-img
  width 70vh
  height 70vh
  border-radius 50%
  background #D6B1FF
  overflow hidden
  position relative
  img
    position absolute
    top 0
    left 0
    height 100%
    object-fit contain
